@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
/*First Section */
* {
    margin: 0%;
    padding: 0%;
}

body {
      font-family: "Roboto Slab", serif;

}

.first-section {
    background-color: #1f2937;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* Second Section */
h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}


.content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sign-up-first-section {
  background-color: #3882F6;
  border-radius: 20%;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  gap: 20px;
}

.content-right img {
    width: 600px; 
    height: auto;
    gap: 30px;
}
/* Information Section */
.information {
    display: flex;

}