@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
/*First Section */
* {
    margin: 0%;
    padding: 0%;
}

body {
      font-family: "Roboto Slab", serif;

}

.first-section {
    background-color: #1f2937;
    padding-bottom: 100px;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
#header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* Second Section */
h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.content {
    display: flex;
    flex-direction: row;
    margin: 100px 50px;
    align-items: center;
}

.content-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: flex-start;
    padding-left: 100px;
}

.content-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.content-right img {
    width: 600px; 
    height: auto; 
}

.p-first {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 10px;
    margin-bottom: 20px;
}

.sign-up-first-section {
    background-color: #3882F8;
    color: white;
    width: 120px;
    height: 35px;
    border: 1px solid #3882F8;
    border-radius: 8px;
    cursor: pointer;
}
/*Second Section */
h2 {
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
    text-align: center;
}

.second-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0;
}

.rows-blue-divs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin: 50px 100px;
    align-items: flex-start;
}

.box-blue-msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
}

.box-blue {
    border: 3px solid #3882F6;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.p-second {
    text-align: center;
    font-size: 18px;
    color: #1F2937;
}